.divStyle {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.divStyle1 {
    margin: 20px; 
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: black 0 0 50px;
}

.divStyle1:hover {
    width:57vw;
}

.divStyle2 {
    margin: 10px;
    margin-top: 8vh; 
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: black 0 0 50px;
}

img {
    width: 55vw;
    box-shadow: black 0 0 50px;
    border-radius: 5px;
}



.btn {
    width: 300px;
    height: 30px;
    background-color: transparent;
    color: white;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 3px;
   }
  